<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380354838173-rfpukm4eqg6evsjd5n7t0ierct0rml24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380354838173-rfpukm4eqg6evsjd5n7t0ierct0rml24</string>
	<key>API_KEY</key>
	<string>IOS_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>380354838173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relieve.ios.debug</string>
	<key>PROJECT_ID</key>
	<string>relieve-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>relieve-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380354838173:ios:87ff42489b8ccef3</string>
	<key>DATABASE_URL</key>
	<string>https://relieve-debug.firebaseio.com</string>
</dict>
</plist>